<h1>Tables configuration</h1><hr/><br/>

<div style = "background: #333333;">
<h3>Make new configuration: </h3><br/>	
Max on x-axis: <input name= "xaxis"input type="number" value="1"><br/>
Max on y-axis: <input name="yaxis" type="number" value="1"><br/>
<button class="btn btn-default navbar-btn" ng-click="makeConfig()" >Make</button><hr/><br/>

<table ng-init="loadTables()" class = "tablesTable">
	<tr ng-repeat="row in tables">
		<td ng-repeat="table in row"> 
			<button class="tableBtns"> </button>
		</td>
				
	</tr>

</table>


</div>