 <div>
	<h1> Manager:   {{restaurant.restaurantManager.firstname}}  {{restaurant.restaurantManager.lastname}} </h1>
	<h1> Restaurant:   {{restaurant.name}}</h1>
	
	<table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>Name</th>
                <th>Count</th>
                <th>Price</th>
	        </tr>
			<tr ng-repeat="dish in restaurant.food">
				<td> 
					{{dish.id}}
				</td>
				<td>
		    		{{dish.name}}	
				</td>
            	<td>
		    		{{dish.count}}	
				</td>
            	<td>
		    		{{dish.price}}	
				</td>
			</tr>
        </tbody>
    </table> 

	<table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>Name</th>
                <th>Count</th>
                <th>Price</th>
	        </tr>
			<tr ng-repeat="drink in restaurant.drinks">
				<td> 
					{{drink.id}}
				</td>
				<td>
		    		{{drink.name}}	
				</td>
            	<td>
		    		{{drink.count}}	
				</td>
            	<td>
		    		{{drink	.price}}	
				</td>
			</tr>
        </tbody>
    </table> 
    
    <table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>Name</th>
                <th>Mail</th>
	        </tr>
			<tr ng-repeat="waiter in waiters">
				<td> 
					{{waiter.id}}
				</td>
				<td>
		    		{{waiter.firstname}}	
				</td>
            	<td>
		    		{{waiter.mail}}	
				</td>
			</tr>
        </tbody>
    </table> 
    
    <table  class="table table-bordered tableBG" border="1">
		<tbody>
	        <tr>
				<th>Id</th>
				<th>Name</th>
                <th>Mail</th>
	        </tr>
			<tr ng-repeat="cook in cooks">
				<td> 
					{{cook.id}}
				</td>
				<td>
		    		{{cook.firstname}}	
				</td>
            	<td>
		    		{{cook.mail}}	
				</td>
			</tr>
        </tbody>
    </table> 
</div>

