<div ng-init = "loadInvites()" >
<h1>Invites</h1>

<ul>
<li ng-repeat = "invite in invites"><h3>You have been invited to attend meal, date: {{invite.date}} at {{invite.hours}}:{{invite.minutes}} 
		<button class="btn btn-default navbar-btn" ng-click="acceptInvite(invite)">Accept</button>
		<button class="btn btn-default navbar-btn" ng-click="rejectInvite(invite.id)">Decline</button></h3>
</li>
</ul>


</div>









<div id="myModal" class="modal">
	<div class="modal-content">
    	<h3>Your have accepted invite for reservation. Do you want to order something ?</h3><hr/><br/>
    	<button ng-click="acceptInviteAndOrder()" class="btn btn-default navbar-btn">Yes</button>
    	<button ng-click="acceptInviteAndNoOrder()" class="btn btn-default navbar-btn">No</button>
    	<button ng-click="closeModal()" class="btn btn-default navbar-btn">Close</button>
    	
 	 </div>
</div>